/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/

@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@300&family=Roboto:wght@500&display=swap");

#first-header {
  height: 600px;
  background: url("https://s3-alpha-sig.figma.com/img/2d79/8281/2d95b0b8f7e42296b0dd2f5fde21abd6?Expires=1649030400&Signature=E0gB~tuPPlisdiZxWesC9hwwuTzUqPWtj94-2K40cZ-0~545T7luIsrfumICKQE1hAjr8vaQxIWKRQFWPck~8at5h9jyyITlMhNEP0GenV7y5RM4fiBQ~jk3AwgOSe6x~m1NdocAwtZnuiRUeKTGKyPaGzgomuNE7CiwWVHmO0X3UrSDQ~u5c-UhoxgKi4xErfwMwuH4y09kYElfeMWYDy1hN-ez27z3-q8QOs8~VbGffOpMUMQpVY1HE2aXpkRi27WR67h91~xOUV1cZeaEAPQia5E75PEY1gONDwzeVCLE~MYKXh1Gb0IF31be8odIAT8X1~wQA6SIt82CAtV~zg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"),
    #000000;
  background-repeat: no-repeat;
  background-size: 100%;
}

#first-hearder-filter {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  padding: 0%;
  margin: 0%;
}

#first-hearder-text-background {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}

#title-text {
  font-family: "M PLUS 1 Code", sans-serif;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 6vw;
  display: flex;
  align-items: center;
  text-align: center;
  vertical-align: center;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#subtitle-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1.4vw;
  line-height: 21px;
  text-align: center;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#second-header {
  background-color: rgb(255, 168, 0);
  height: 600px;
}

@media screen and (max-width: 992px) {
  #first-header {
    height: 400px;
    background-repeat: repeat;
  }

  #subtitle-text {
    display: none;
  }

  #second-header {
    height: 1000px;
  }
}

#no-subject-alert {
  background-color: rgb(255, 168, 0);

  border-radius: 20px;
}

.btn {
  border-radius: 20px;
}

.card {
  filter: drop-shadow(2px 8px 10px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  height: 450px;
}

.card-img-top {
  border-radius: 20px 20px 0px 0px;
  width: 100%;

  height: 150px;
}

.details-box {
  height: 67%;
}

.card-text {
  position: absolute;
  top: 50%;
}

.subject-btn {
  position: absolute;
  bottom: 5%;
  left: 25%;
}

@media screen and (max-width: 767px) {
  #title-text {
    font-size: 10vw;
  }
}
