/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

/* 
.app-container
    - Small devices: 1rem padding in Y axis.
    - Medium devices and + (>768px): width of 8 columns out of 12 (equals to 2/3 of width)
*/
.app-container {
  padding: 0 1rem;
  width: 100%;
}
@media (min-width: 768px) {
  .app-container {
    width: calc(100vw * 2 / 3);
    margin: auto;
    padding: 0;
  }
}

.inline-form {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.inline-form input, .inline-form select {
  width: min-content;
}
