#subject-first-header {
  height: 200px;
  background-repeat: no-repeat;
  background-size: 100%;
}

#subject-title-back {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}

.title-course {
  color: white;
  opacity: 60%;
}

#subject-alert {
  background-color: #303030;
  border-radius: 20px;
}

#teacher-element{
  border-radius: 5px;
  background-color:rgba(0, 0, 0, 0.6) ;
  width: 60%;
  left: 25%;
  position: relative;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.6);
}

#teacher-avatar{
  width: 3rem;
  height: 3rem;
  background-color: gray;
  border-radius: 50%;
  object-fit: fill;
}

